.profile__info {
    display: flex;
}

@media screen and (max-width: 715px) {
    .profile__info {
        flex-direction: column;
    }
}


.profile__info-back {
    background: #000;
    overflow: hidden;
    width: 120px;
    height: 120px;
    position: relative;
}

