.popup {
    display: flex;
    background-color: rgba(0, 0, 0, 0.5);
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    position: fixed;
    opacity: 1;
    justify-content: center;
    align-items: center;
}

.popup__container {
    width: 430px;
    height: 330px;
    background: #FFFFFF;
box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
border-radius: 10px;
}

@media screen and (max-width: 465px) {
    .popup__container {
        max-width: 282px;
        max-height: 322px;
        margin-left: 19px;
        margin-right: 19px;
    }
    
}
.close__button {
    position: absolute;
    left: 862px;
    top: 225px;
    transition: linear 0.5s;    
}

.close__button:hover {
    opacity: 0.6;
}

@media screen and (max-width: 465px) {
    .close__button {
        width: 20px;
        left: 280px;
        top: 235px;
    }

}

.edit__title {
    color:black;
    font-size: 24px;
    font-weight: 900;
    line-height: 29px;
    margin-bottom: 54px;
    margin-top: 34px;
}

@media screen and (max-width: 465px) {
    .edit__title {
        font-size: 18px;
        line-height: 22px;
        margin-top: 25px;
        margin-bottom: 75px;

    }
}
.popup__profile-edit {
    display: flex;
    flex-direction: column;
    max-width: 358px;
    margin: 0 auto;
}
@media screen and (max-width: 465px) {
    .popup__profile-edit {
        max-width: 238px;
    }
}
.profile__name {    
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 30px;
    outline: none;
    border: 0;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    padding: 0 0 13px 0;
}

.profile__name:focus {
   
    opacity: 1;
}

.profile__subname {
    font-size: 14px;
    font-weight: 400;
    line-height: 17px;
    margin-bottom: 30px;
    outline: none;
    border: 0;
    opacity: 0.2;
    border-bottom: 1px solid #000000;
    padding: 0 0 13px 0;    
}
.profile__subname:focus {
    
    opacity: 1;
}

.profile__button {
    display: flex;
    align-items: center;
    justify-content: center;
    max-width: 358px;
    height: 50px;
    background-color: #000000;
    color: #ffffff;
    font-size: 18px;
    font-weight: 400;
    line-height: 22px;
    border: 0;
    transition: linear 0.5s;
    margin-top: 18px;
}

.profile__button:hover {
    opacity: 0.8;
}