@import url(../vendor/normalaize.css);
@import url(../vendor/fonts.css);
@import url(../blocks/page/page.css);
@import url(../blocks/header/__logo/header__logo.css);
@import url(../blocks/header/header.css);
@import url(../blocks/profile/__about/profile__about.css);
@import url(../blocks/profile/profile.css);
@import url(../blocks/profile/__add-button/profile__add-button.css);
@import url(../blocks/profile/__avatar-image/profile__avatar-image.css);
@import url(../blocks/profile/__bio/profile__bio.css);
@import url(../blocks/profile/__info/profile__info.css);
@import url(../blocks/profile/__name-edit/profile__name-edit.css);
@import url(../blocks/profile/__name-text/profile__name-text.css);
@import url(../blocks/profile/__name/profile__name.css);
@import url(../blocks/gallery/gallery.css);
@import url(../blocks/gallery/__grid-image/gallery__grid-image.css);
@import url(../blocks/gallery/__grid-info/gallery__grid-info.css);
@import url(../blocks/gallery/__grid-item/gallery__grid-item.css);
@import url(../blocks/gallery/__grid-like/gallery__grid-like.css);
@import url(../blocks/gallery/__grid-name/gallery__grid-name.css);
@import url(../blocks/gallery/__grid/gallery__grid.css);
@import url(../blocks/footer/__copyright/footer__copyright.css);
@import url(../blocks/gallery/__grid-like/_active/gallery__grid-like_active.css);
@import url(../blocks/popup/popup.css);
@import url(../blocks/popup/__close-button/popup__close-button.css);
@import url(../blocks/popup/__container/popup__container.css);
@import url(../blocks/popup/__form/popup__form.css);
@import url(../blocks/popup/__input/popup__input.css);
@import url(../blocks/popup/__save-button/popup__save-button.css);
@import url(../blocks/popup/__title/popup__title.css);
@import url(../blocks/popup/_opened/popup_opened.css);
@import url(../blocks/image/__opened/image__opened.css);
@import url(../blocks/image/__opened-title/image__opened-title.css);
@import url(../blocks/image/__container/image__container.css);
@import url(../blocks/gallery/__delete-img-button/gallery__delete-img-button.css);

.popup__input_type_error {
    border-bottom: 1px solid red;
}

.popup__input-error-active {
    visibility: visible;
}

.popup__input-error {
    font-size: 12px;
    color: red;
}