.gallery__grid-like {
    display: flex;
    width: 22px;
    height: 19px;
    background-image: url(../../../images/heart__disable.svg);
    transition: linear 0.5s;
    background-color: transparent;
    border: none;
    align-self: center;
    cursor: pointer;
}

.gallery__grid-like:hover {
    opacity: 0.5;
}
