.header__border-line {
    border-bottom: 1px solid #545454;
    max-width: 880;
    padding-top: 41px;
}

@media screen and (max-width: 715px) {
    .header__border-line {
        padding-top: 31px;
    }
}
